body {
    background-color: #b3b3b3;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    background-color: #b3b3b3;
}

.footer-item {
    display: flex;
    flex-direction: column; 
    text-align:center; 
}

footer h3, footer p {
    margin: 0;
}
