body{
    font-family: Arial;
}    
header{
    text-align: center;
    background-color: #f9f2ec;
    text-transform: uppercase;
}
.imagem_header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 60%; 
    height: 30%; 
}

.navbar {
    background-color: white; 
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    margin: 0px 2px;
    flex-grow: 1;
    text-align: center;
}

.navbar a {
    display: block;
    padding:  10px 20px;
    text-decoration: none;
    background-color: #3d3d3d; 
    color: #fff; 
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555555; 
}

footer{
    text-align: center;
    background-color: #333232;
    color: #fff;
}

#fotografias h3, #video h3, #poema h3{
    color: #af4c4c;
    font-size: 24px;
    border-bottom: 2px solid #af4c4c;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.image-gallery {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.image-gallery h3 {
    text-align: left;
    width: 100%; 
    position: relative; 
}

.image-gallery h3::after {
    content: ''; 
    display: block; 
    width: 100%; 
    background-color: #af4c4c; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
}


.image-gallery .image-cards {
    display: flex; 
    justify-content: center; 
    gap: 15px;
    flex-wrap: wrap; 
}


.image-card img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.image-card img:hover {
    transform: scale(1.05);
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poema-titulo{
    color: #af4c4c;
    font-size: 19px;
    text-align: center;
}

#poema{
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
}

.iframe-imagens{
    display: block;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 305px;
}

.iframe-video{
    display: block;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 30px;
}

/*labels*/
label {
    font-size: small;
}

input {
    font-size: medium;
}

a{
    color: #af4c4c;
}

h2{
    color: #af4c4c;
}

figcaption{
    text-align: center;
    font-size: 11px;
}

ul li:nth-child(1) {
    color: rgb(45, 108, 58);
}

ul li:nth-child(2) {
    color: goldenrod;
}

ul li:nth-child(3) {
    color: rgb(107, 8, 92);
}

ul li:nth-child(4) {
    color: rgb(132, 42, 42);
}

ul li:nth-child(5) {
    color: steelblue;
}

ol {
    list-style-type: lower-roman;
}

thead th {
    background-color: #305f5f;
    color: white;
}

tbody tr:nth-child(odd) { /*impar*/
    background-color: #af4c4c;
    color: white;
}

tbody tr:nth-child(even) { /*par*/
    background-color: #305f5f;
    color: white;
}

ul li, ol li {
    font-size: 2em; /* font size 2x bigger thant father*/
}