/*     flex-direction: column; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.nomeAluno{
    text-align: left;
    color: black;
    padding-top: 30px;
}

.headerDef{
    background-color: gray;
}

li
{
    margin-left: 30px;
}

.pGithub{
    text-align: right;
    color: white;
    text-decoration: none;
}

h1{
    text-transform: bold;
}

main{
    background-color: white;
    display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "section section"
            "section section";
    
}

.laboratorios{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "li li li"
            "li li li";
    justify-content: space-between;
}

.linklab{
    color: white;
    padding: 10px;
    background-color: lightgray;
    text-decoration: none;
}

.linklab:nth-child(odd) { /*impar*/
    background-color: gray;
}

.linklab:hover {
    background-color: black; 
}

section{
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

@media (max-width: 768px) {
    body {
        display: block;
    }
    .desaparece
    {
        display: none;
    }
    main{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "section"
            "section"
            "section"
    }
}

