* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial;
    background-color: #faf4e5;
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    background-color: #f9f2ec;
    text-transform: uppercase;
    padding: 5px;
}

.title-header{
    margin-top: 15px;
    margin-bottom: 15px;
}   

.imagem_header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 30%; 
    height: 100%; 
}

.navbar {
    background-color: white; 
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    position: relative;
    margin: 0px 2px;
    flex-grow: 1;
    text-align: center;
    padding: 4px;
}

.navbar a {
    display: block;
    padding:  10px 20px;
    text-decoration: none;
    background-color: #e57b50; 
    color: #fff; 
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555555; 
}

main{
    flex-grow: 1;
    padding: 10px;
    margin-top: 24px;
}

aside{
    padding: 10px;
    background-color: #eaeaea;
    margin: 10px;
}

footer{
    text-align: center;
    background-color: #333333;
    color: #fff;
    padding: 2px;
    margin-top: 40px;
}

#fotografias h3, #video h3, #poema h3{
    color: #af4c4c;
    font-size: 24px;
    border-bottom: 2px solid #af4c4c;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.image-gallery {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.image-gallery h3 {
    text-align: left;
    width: 100%; 
    position: relative; 
}

.image-gallery h3::after {
    content: ''; 
    display: block; 
    width: 100%; 
    background-color: #af4c4c; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
}


.image-gallery .image-cards {
    display: flex; 
    justify-content: center; 
    gap: 15px;
    flex-wrap: wrap; 
}

.image-card{
    cursor: zoom-in;
}

.image-card img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.image-card img:hover {
    transform: scale(1.05);
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poema-titulo{
    color: #af4c4c;
    font-size: 19px;
    text-align: center;
}

#poema{
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
}

.iframe-imagens{
    display: block;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 305px;
}

.iframe-video{
    display: block;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 30px;
}

/*labels*/
label {
    font-size: small;
}

input {
    font-size: medium;
}

a{
    color: #af4c4c;
}

h2{
    color: #af4c4c;
}

figcaption{
    text-align: center;
    font-size: 11px;
}

ul li:nth-child(1) {
    color: rgb(45, 108, 58);
}

ul li:nth-child(2) {
    color: goldenrod;
}

ul li:nth-child(3) {
    color: rgb(107, 8, 92);
}

ul li:nth-child(4) {
    color: rgb(132, 42, 42);
}

ul li:nth-child(5) {
    color: steelblue;
}

ol {
    list-style-type: lower-roman;
}

thead th {
    background-color: #305f5f;
    color: white;
}

tbody tr:nth-child(odd) { /*impar*/
    background-color: #af4c4c;
    color: white;
}

tbody tr:nth-child(even) { /*par*/
    background-color: #305f5f;
    color: white;
}

ul li, ol li {
    font-size: 2em; /* font size 2x bigger thant father*/
}

/* mobile */
@media (max-width: 768px) {
    body {
        display: block;
    }

    .navbar {
        display: none;
    }
    /* FALTA quando voltar a clicar no botao desaparecer menu */
    .dropdown-menu
    {
        text-align: center;
    }

    .dropdown-content {
        display: none;
        position: sticky;
        background-color: #d9cc1d;
    }

    .dropdown-content a {
        color: white;
        padding: 9px 8px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
      
      
    .dropdown:hover .dropdown-content {
        display: block;
    }

    main, aside {
        width: 100%;
    }
}

/* Mobile Landscape */
@media (min-width: 481px) and (max-width: 767px) {
    .navbar ul {
        flex-direction: row;
        justify-content: space-around;
        display: flex;
    }

    aside {
        background-color: #e6e6e6;
        margin-top: 20px;
    }

    header, footer {
        padding: 20px;
    }
    
}

/* Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header"
            "aside main"
            "footer footer";
    }

    header {
        grid-area: header;
    }

    aside {
        grid-area: aside;
    }

    main {
        grid-area: main;
        padding: 30px;
    }

    footer {
        grid-area: footer;
        background-color: #af4c4c;
    }

    .navbar ul {
        flex-direction: column;
        justify-content: flex-start;
        display: block;
    }

    .dropdown {
        display: none;
    }
}

/* Desktop 3 Columns */
@media (min-width: 1025px) and (max-width: 1440px) {
    main, aside {
        display: inline-block;
        vertical-align: top;
        width: calc(33.33% - 20px); /* Três colunas com espaçamento */
        margin: 10px;
    }

    .navbar ul {
        flex-direction: row;
    }

    header {
        margin-bottom: 20px;
    }

    .dropdown {
        display: none;
    }
}

/* 4k */
/* falta aproveitar o espaço */
@media (min-width: 2560px) {
    body {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header header header"
            "nav main aside aside"
            "footer footer footer footer";
    }

    header {
        grid-area: header;
        padding: 50px;
    }

    nav {
        grid-area: nav;
        flex-direction: column;
        justify-content: space-around;
        background-color: #333;
        color: white;
    }

    main {
        grid-area: main;
        padding: 40px;
    }

    aside {
        grid-area: aside;
        background-color: #dcdcdc;
        padding: 30px;
    }

    footer {
        grid-area: footer;
    }

    .dropdown {
        display: none;
    }
}